.text-animation {
    color: black;
    font-weight: 700;
    

    animation: textPulse 2s infinite alternate;
  }
  
  @keyframes textPulse {
    0% {
      font-size: 2rem; /* Start size */
    }
    100% {
      font-size: 2.8rem; /* End size */
    }
  }
  